<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WPF_DB_ZooManager.Properties.Settings.AR_CSHARP_DBConnectionString"
            connectionString="Data Source=DESKTOP-UTKEPFT;Initial Catalog=AR_CSHARP_DB;Persist Security Info=True;User ID=sa;Password=sqlpass"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>